@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

:root {
	--color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: red;
	--color-primary-hover: rgb(245, 82, 76);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Pixelify Sans', cursive;
	background-color: rgba(255, 251, 251, 0.8);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}


header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 40px 0;
}

.logo img {
	width: 150px;
}

header form {
	display: flex;
	align-items: center;

	gap: 15px;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 10px;

	border: 1px solid #555;
	padding: 15px 20px;
	border-radius: 25px;
}

.form-group input {

	font-family: inherit;
	width: 300px;
	border: none;
	outline: none;
	font-size: 15px;
}

.icon-search {
	width: 20px;
	height: 20px;
	stroke: #555;
}

.btn-search {
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
	background-color: var(--color-primary);
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}

.btn-search:hover {
	background-color: var(--color-primary-hover);
	color: #000;
}


.container-filter {
	display: flex;
}

.icon-filter {
	display: flex;
	align-items: center;
	gap: 15px;

	margin-bottom: 20px;
	cursor: pointer;
}

.icon-filter .icon {
	width: 30px;
	height: 30px;
	stroke: #555;
}


.card-list-pokemon {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.card-pokemon {
	cursor: pointer;
	text-decoration: none;
}

.card-img {
	background-color: #f2f2f2;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 250px;
}

.card-img img {
	width: 100%;
	height: 100%;
}

.card-info {
	padding: 15px;
}

.card-info h3 {
	color: #333;
}

.pokemon-id {
	display: block;
	color: #888;
	margin-bottom: 15px;
}

.card-types {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.card-types span {
	font-size: 12px;
	padding: 5px 20px;
	border-radius: 5px;
	color: #fff;
}


.water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}


.container-filters {
	display: flex;
	justify-content: center;

	position: fixed;
	top: 0;
	left: -300px;
	width: 250px;

	color: #555;
	background-color: #f2f2f2;
	height: 100%;
	padding-top: 140px;
	transition: all 0.3s linear;
}

.container-filters.active {
	left: 0;
}

.filter-by-type {
	display: flex;
	flex-direction: column;

	gap: 20px;
}

.filter-by-type span {
	font-weight: 700;
	font-size: 22px;
}

.group-type {
	display: flex;
	gap: 10px;

	margin-left: 15px;
}

.group-type label {
	cursor: pointer;
}

/* POKEMON PAGE*/

.pokemon-container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
}


.pokemon-header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pokemon-number {
	font-size: 50px;
	color: red;
	margin-right: 20px;
}

.pokemon-image img {
	max-width: 200px;
	max-height: 200px;
}

.pokemon-info {
	text-align: center;
	flex: 1;
}

.pokemon-name {
	font-size: 32px;
	margin: 0;
	color: #333;
}

.pokemon-types {
	margin-top: 10px;
}

.type {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
}

.type-normal {
	background-color: #a8a878;
	color: #fff;
}

.type-fire {
	background-color: #f08030;
	color: #fff;
}


.pokemon-stats-container {
	margin-top: 20px;
	text-align: center;
}

h1 {
	font-size: 24px;
	color: #333;
}

.pokemon-stats-list {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	gap: 20px;
}

.pokemon-stat-item {
	text-align: center;
}

.stat-name {
	font-size: 16px;
	color: #555;
}

.progress-bar {
	width: 100px;
	height: 10px;
	background-color: #ddd;
	border-radius: 5px;
	margin: 5px auto;
	position: relative;
}

.progress-fill {
	height: 100%;
	border-radius: 5px;
	background-color: red;
}



.p-search {
	margin-bottom: 30px;
	font-size: 22px;
}

.p-search span {
	font-weight: 700;
}



.container-loader {
	display: flex;
	justify-content: center;
	margin: 200px 0;
}



.container-btn-load-more {
	display: flex;
	justify-content: center;

	margin-bottom: 20px;
	margin-top: 20px;
}

.btn-load-more {
	border: none;
	padding: 15px 40px;
	font-family: inherit;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.btn-load-more:hover {
	background-color: var(--color-primary-hover);
	color: #000;
}




/*POKEMON LIST*/
.card-list-pokemon {
	display: grid;
}

.pokemon-list-card {
	background-color: white;
	border-radius: 10px;
	height: 250px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.pokemon-list-card:hover {
	transform: scale(1.05);
}

.pokemon-list-image {
	max-width: 100px;
	max-height: 100px;
	margin-bottom: 12px;
}

.pokemon-card-name {
	font-size: 1.25rem;
	margin: 0;
	color: red;
}

.pokemon-list-type,
.pokemon-list-number {
	margin: 0;
	color: black;
}

.pokemon-list-number {
	font-size: 1rem;
	color: #333;
	margin: 0;
}

.pokemon-types-container {
	display: flex;
	margin-top: 7px;

}

.pokemon-types-container>p {
	border-radius: 50px;
	padding: 5px 8px;
	color: #fff;
	margin: 0 auto;
}




/*FOOTER*/
.footer {
	bottom: 0;
	margin: 20px 0 0 0;
	background-color: rgba(255, 251, 251, 0.8);
	color: black;
	padding: 20px 0;
	text-align: center;
}

.red-text {
	color: red;
}